*
{
    box-sizing: border-box;
}

.container
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: max-content;
    height: max-content;
    display: inline-block;
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);    margin-top: 10px;
    box-shadow: 0 0 50px rgb(243, 249, 255);
}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.login-title
{
    font-weight: 800;
    font-size: x-large;
    border: 2px solid black;
    padding: 5px 10px;
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
}

.inputform
{
    margin-top: 30px;
}

input
{
    font-weight: 600;
    margin-left: 10px;
    border-radius: 3px;
}

.buttons
{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

/* button
{
    height: 35px;
    font-weight: 600;
    cursor:pointer;
    width: 90px;
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
    color: black;
    font-size: large;
    border: 2px solid black;
    border-radius: 5px;
} */

.main
{
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #D9EDFF;
    color: #339DFF;
    font-size: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #fff;
    width: 90px;
    height: 35px;
    border: 2px solid black;
  }
  
  .white:hover {
    box-shadow: 0 2px 4px rgba(49, 184, 247, 0.725);
    cursor: pointer;
  }
  
  .blue {
    display: inline-block;
    background: #5da6eb;
    color: black;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 35px;
    width: 90px;
    text-align: center;
  }
  
  .blue:hover {
 
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
    cursor: pointer;
  }