.navigation-bar
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 2px solid black;
    background: radial-gradient(590px at 8.2% 13.8%, rgb(18, 35, 60) 0%, rgb(187, 187, 187) 90%);
}

.links
{
    color: black;
    padding: 5px 15px;
    border-radius: 30px;
}

.title
{
    padding: 5px 50px;
}