.navigation-bar
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 2px solid black;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

.links
{
    border: 2px solid transparent;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.title
{
    padding: 5px 50px;
    cursor: pointer;
}

.links:hover
{
    text-underline-offset: 5px;
    text-decoration: underline;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 0 0 50px rgb(243, 249, 255);
}